@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Source+Serif+Pro&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    height: 100vh;
}

#headerarea {
    background-color: lightgray;
}

h1 {
    font-family: "Source Serif Pro", serif;
    font-size: 375%;
    text-align: center;
}

h2 {
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 375%;
    text-align: center;
}

#suggestionsarea {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    padding-top: 2%;
}

#suggestbtn {
    background-color: lightgray;
    border: none;
    border-radius: 6px;
    font-family: "Source Serif Pro", serif;
    font-size: 150%;
    height: 45px;
    width: 25%;
}

#yestext {
    font-family: "Source Serif Pro", serif;
    font-size: 100%;
    text-align: center;
}

#foodsuggestion {
    font-family: "Source Serif Pro", serif;
    font-size: 250%;
    text-align: center;
}

#decisionbtns {
    display: none;
    gap: 3%;
    grid-template-columns: 1fr 1fr 1fr;
}

#decisionbtns > button {
    background-color: lightgray;
    border: none;
    border-radius: 6px;
    font-family: "Source Serif Pro", serif;
    font-size: 150%;
    height: 40px;
    transition-duration: 0.6s;
}

#yesbtn:hover {
    background-color: rgba(34, 139, 34, .5);
}

#maybebtn:hover {
    background-color: rgb(255, 165, 0, .5);
}

#nobtn:hover {
    background-color: rgba(255, 0, 0, .5);
}

#responsesarea {
    background-color: lightgray;
    padding-top: 1%;
}

#responses {
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 300%;
    text-align: center;
}

#maybeandno {
    display: grid;
    gap: 3%;
    grid-template-columns: 1fr 1fr;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

#maybelabel {
    background-color: rgb(255, 170, 51, .5);
}

#nolabel {
    background-color: rgba(255, 0, 0, .5);
}

#maybelabel, #nolabel {
    border-radius: 6px 6px 0px 0px;
    font-family: "Source Serif Pro", serif;
    padding: 1%;
}

#maybe, #no {
    background-color: white;
    border-radius: 6px;
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.32);
    font-size: 150%;
    height: 225px;
    text-align: center;
}

#maybetext, #notext {
    font-family: "Source Serif Pro", serif;
    font-size: 75%;
    padding: 1%;
    text-align: center;
}